.card-video{
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    border: inset 3px transparent;
    @media(max-width: 767px){
        &:not(&--large){
            display: grid;
            grid-template-rows: auto 1fr;
            height: 100%;
        }
    }
    i{
        transition: $transition;
    }
    
    .thumb{
        position: relative;
        width: 100%;
        height: 204px;
        display: block;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $color-black-50;
            opacity: 0;
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        .play{
            position: absolute;
            top: 15px;
            left: 16px;
            z-index: 2;
            background-color: $color-white;
            width: 33px;
            height: 33px;

        }
        .box-comments{
            position: absolute;
            right: 16px;
            bottom: 16px;
            opacity: 0;
            font-size: $font-hat;
            color: $color-red-100;
            display: flex;
            align-items: center;
            gap:8px;
            z-index: 2;
            .comments{
                background-color: $color-red-100;
                width: 18px;
                height: 15px;
            }

        }
        @media(max-width: 767px){
            height: 182px; 
        }
    }
    
    .infos{
        padding: 16px;
        background-color: $color-gray-800;
        min-height: 101px;
        @media(max-width: 767px){
            min-height: unset;
            height: 100%;
        }
        .cat{
            display: block;
            text-transform: uppercase;
            color: $color-red-300;
            width: fit-content;
            margin-bottom: 4px;
        }
        h2{
            font-size: $font-feed-3;
            line-height: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @media(max-width: 767px){
                -webkit-line-clamp: 3;
            }
        }
    }
    &:hover{
        //box-shadow: 0px 0px 0 3px $color-red-300;
        border-color:  $color-red-300;
        .thumb{
            
            &::after{
                opacity: 1;
            }
            .play{
                background-color: $color-red-300;  
            }
            .box-comments{
                opacity: 1;
            }
            
        }

    }
    
    
    &--large{
        margin-bottom: 24px;
        .thumb{
            height: 204px;
        }
        .infos{
            min-height: 100px;
        }
        @media(min-width: 768px){
            position: relative;
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 50px 42px;
            margin-bottom: 0;
            
            .thumb{
                
                position: static;
                height: auto;
                &::after{
                    background: $black-gradient-2;
                    opacity: 1;
                }
                .play{
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-bottom: 16px;
                    width: 60px;
                    height: 60px;
                }
                .box-comments{
                    display: none;
                }
            
            }
            .infos{
                position: relative;
                z-index: 2;
                background: none;
                padding: 0;
                max-width: 715px;
                min-height: unset;
                h2{
                    font-size: $font-feed-1;
                    line-height: 30px;
                }

            }
            &:hover{
                .thumb{
                    &::after{
                        background: $color-black-50 $black-gradient-2;
                    }
                    .play{
                        background-color: $color-red-300;  
                    }
                }
                
            }
        
        }
    }

    
}