header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 22px;
    background: $color-gray-800;
    border-radius: 8px;
    margin-bottom: 32px;
    @media(max-width: 767px){
        margin-bottom: 24px;
    }

    h1 {
        color: $color-red-300;
        padding-left: 10px;
    }

    .btns-right {
        display: flex;
        gap: 16px;

        a{
            @media(max-width: 767px){
                font-size: 0;
                gap: 0;
                width: 48px;
                height: 48px;
            }
            // i{
            //     @media(max-width: 767px){
            //         font-size: 0;
            //     }
            // }
        }

        .nav-carrossel {
            display: flex;
            gap: 12px;
            button {
                border: none;
                background-color: $color-black;

                i {
                    height: 7px;
                    width: 14px;
                    background-color: $color-red-100;
                }

                &[disabled] {
                    opacity: 0.3;
                    cursor: text; 
                }
                &:not([disabled]):hover{
                    background-color: $color-gray-900;
                    .ico{
                        background-color: $color-red-100;
                    }

                }
            }
            @media(max-width: 767px){
                display: none;
            }

        }
    }


}